<!DOCTYPE html>
<html>
<head>
	<title>Hello  <TMPL_VAR NAME="name"></title>
	  <TMPL_INCLUDE NAME="header.tmpl">
</head>
<body>
	<main class="container">
		<h1>Welcome to <TMPL_VAR NAME="name"></h1>
		<p>Armadillo is a flexiable and old school simplified CMS that makes your website both predicatable and easy to extend with little to no interference from the managing the content.</p>
		<h2>Step 1 : Tell us a bit about yourself</h2>
		<p>Being the first user we are going to assume that you will be the admin user. So please take a moment tell us about yourself so that Armadillo can remember you.</p>
	</main>
</body>
</html>