<!DOCTYPE html>
<html>
<head>
	<title>Login - <TMPL_VAR NAME="sitename"></title>
	<TMPL_INCLUDE NAME="header.tmpl">
</head>
<body>
	<header role="banner" id="header" class="">
		
	</header>
	<main role="main" property="mainContentOfPage">
		<form action="action/login" method="post" accept-charset="utf-8">
			<input type="text" name="username">
			<input type="password" name="password">
		</form>
	</main>
	<footer>
		
	</footer>
</body>
</html>