<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <title>Welcome to <TMPL_VAR NAME="sitename"></title>
        <TMPL_INCLUDE NAME="header.tmpl">
    </head>

    <body>
        <header id="header" class="">
        	<TMPL_INCLUDE NAME="banner.tmpl">
        </header>
        <main>
            <h1>System page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis iusto ullam non cum doloremque atque similique et quas ea aliquam perspiciatis inventore totam accusantium fugit quaerat aspernatur, impedit vitae, deserunt.<p>
        </main>
        <footer>
            <TMPL_INCLUDE NAME="footer.tmpl">
        </footer>
    </body>

</html>