<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Caravan</title>
	  <TMPL_INCLUDE NAME="header.tmpl">
</head>
<body>
	<h1>Install Page</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis iusto ullam non cum doloremque atque similique et quas ea aliquam perspiciatis inventore totam accusantium fugit quaerat aspernatur, impedit vitae, deserunt.<p>
</body>
</html>